<% debug @reference%>


<p class="showalone">
    <strong>Nombre o Razón Social:</strong>
    <%= @article.nrz%>
</p>
<p class="showalone">
    <strong>RFC:</strong>
    <%= @article.rfc%>
</p>
<p class="showalone">
    <strong>Email:</strong>
    <%= @article.email%>
</p>
<p class="showalone">
    <strong>Usuario de contacto:</strong>
    <%= @article.contactuser%>
</p>


<% if user_signed_in? %>
<p class="show_btns">
    <%= link_to 'Edit', edit_article_path(@article) %>
</p>
<% end %>
<p class="show_btns">
    <%= link_to 'Back', articles_path %>
</p>